/* {
    background-color: darkblue;
}
*/



.box1 {
  margin: 0px;
  height: 400px;
  padding: 0px;
  background: plum;
  border: 4px solid indigo;
  display: flex 1;
}

.header-box {
    display: flex;
    margin: 0px;
    height: 80px;
    border: 4px solid red;
    background: skyblue;
    align-items: center;
    justify-content: center;

}

.header-item {
    margin-left: 20px;
    max-width: fit-content;
    max-height: fit-content;
    border: 4px solid red;
    background: skyblue;
    padding: 10px;
    
}
.header-link {
    margin-left: auto;
    max-width: fit-content;
    max-height: fit-content;
    border: 4px solid red;
    background: skyblue;
}

.content-1 {
    margin: 0px;
    height: auto;
    padding: 0px;
    background: rgb(224, 221, 33);
    border: 4px solid red;
    display: flex;
}

.content-1-text {
    margin-left: 20px;
    max-width: 400px;
    max-height: fit-content;
    border: 4px solid red;
    background: skyblue;
    padding: 10px;
}

.content-1-img {
    margin-left: 20px;
    max-width: auto;
    height: 250px;
    border: 4px solid red;
    background: skyblue;
    padding: 10px;
}